{% extends './base_front.html.twig' %}

{% block title %}forget pass{% endblock %}

{% block header %}
    <header class="header-wrap style1">
        <div class="header-top">
            <button type="button" class="close-sidebar">
                <i class="ri-close-fill"></i>
            </button>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="header-top-left">
                            <ul class="contact-info list-style">
                                <li><i class="flaticon-call"></i> <a href="tel:02459271449">(+024) 592 71 449</a></li>
                                <li><i class="flaticon-email-1"></i> <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#3159545d5d5e71435049501f525e5c"><span class="__cf_email__" data-cfemail="fe969b929291be8c9f869fd09d9193">[email&#160;protected]</span></a></li>
                                <li><i class="flaticon-pin"></i><p>St. Here Mandalay, New York, U.K</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="header-top-right">
                            <ul class="header-top-menu list-style">
                                <li><a href="contact.html">Support</a></li>
                                <li><a href="contact.html">Help</a></li>
                            </ul>
                            <div class="select-lang">
                                <i class="ri-global-line"></i>
                                <div class="navbar-option-item navbar-language dropdown language-option">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="lang-name"></span>
                                    </button>
                                    <div class="dropdown-menu language-dropdown-menu">
                                        <a class="dropdown-item" href="#">
                                            <img src="assets/img/uk.png" alt="flag">
                                            English
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="assets/img/china.png" alt="flag">
                                            简体中文
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="assets/img/uae.png" alt="flag">
                                            العربيّة
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="{{asset('index.html')}}">
                        <img class="logo-light" src="{{asset('assets/img/logo.png')}}" alt="logo">
                        <img class="logo-dark" src="{{asset('assets/img/logo-white.png')}}" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
                        <div class="menu-close xl-none">
                            <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
                        </div>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link"></a>
                            </li>
                            <li class="nav-item xl-none">
                                <a href="{{ path('app_register') }}" class="btn style1">register</a>
                            </li>
                        </ul>
                        <div class="others-options  lg-none">
                            <div class="header-btn lg-none">
                                <a href="{{ path('app_register') }}" class="btn style1">register</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="mobile-bar-wrap">
                    <div class="mobile-sidebar">
                        <i class="ri-menu-4-line"></i>
                    </div>
                    <button class="searchbtn xl-none" type="button">
                        <i class="flaticon-search"></i>
                    </button>
                    <div class="mobile-menu xl-none">
                        <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
                    </div>
                </div>
            </div>
            <div class="search-area">
                <div class="container">
                    <form action="#">
                        <div class="form-group">
                            <input type="search" placeholder="Search Here" autofocus>
                        </div>
                    </form>
                    <button type="button" class="close-searchbox">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
            </div>
        </div>

    </header>
{% endblock %}

{% block body %}
<div class="content-wrapper">

    <section class="Login-wrap ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="login-form-wrap">
                        <div class="login-header">
                            <h3>Send your mail Here</h3>
                            <p>Welcome Back!!</p>
                        </div>
                        <div class="login-form">
                            <div class="login-body">
                                {{ form_start(requestPassForm) }}
                                {{ form_errors(requestPassForm) }}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                {{ form_row(requestPassForm.email) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button class="btn style1" type="submit">
                                                    Envoyer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {{ form_end(requestPassForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}