{% extends './base_front.html.twig' %} {% block title %}Register{% endblock %}
{% block body %}
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>My Account</h2>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Signup</li>
      </ul>
    </div>
  </div>
</div>

<section class="signup-area ptb-100">
  <div class="container">
    <div class="signup-content">
      <h2>Create an Account</h2>

      {{ form_start(registrationForm, {'attr': {'class': 'signup-form'}}) }}
      {{ form_errors(registrationForm) }}
      <div class="form-group">
        {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}})
        }}
      </div>
      <div class="form-group">
        {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'


        }}) }}
      </div>
      <div class="form-group">
        {{ form_row(registrationForm.telephone, {'attr': {'class': 'form-control'


        }}) }}
      </div>
      <div class="form-group">
        {{ form_row(registrationForm.adresse, {'attr': {'class': 'form-control'


        }}) }}
      </div>

      <div class="form-group">
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}})
        }}
      </div>

      <div class="form-group">
        {{ form_row(registrationForm.gender, {'attr': {'class': 'form-control'


        }}) }}
      </div>
      <div class="form-group">
        {{ form_row(registrationForm.image, {'attr': {'class': 'form-control'}})
        }}
      </div>
      <div class="form-group">
        {{ form_row(registrationForm.age, {'attr': {'class': 'form-control'}})
        }}
      </div>

      <div class="form-group">
        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'

        }}) }}
      </div>
      <button type="submit" class="default-btn">Signup</button>
      <div class="col-md-12">
        <p class="mb-0">
          Have an Account?
          <a class="link style1" href="{{ path('app_login') }}">Sign In</a>
        </p>
      </div>
      {{ form_end(registrationForm) }}
    </div>
  </div>
</section>

{% endblock %}
