{% extends 'base_front.html.twig' %}

{% block body %}


	<section class="signup-area ptb-100">
		<div class="container">
			<div class="signup-content">
				<h2>Envoyer une reclamation</h2>

				<div class="signup-form">
					{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}
					) }}
					<div class="form-group">
						<label>Votre email est :</label>
						{{ form_widget(form.user,{'attr':{'placeholder':'Enter your name' , 'class':"form-control"

          }}) }}
						{{ form_errors(form.user) }}
					</div>
					<div class="form-group">
						<label>destinataire</label>
						{{ form_widget(form.destinataire,{'attr':{'placeholder':'Enter your lien' , 'class':"form-control"

          }}) }}
						{{ form_errors(form.destinataire) }}
					</div>
					<div class="form-group">
						<label>type</label>
						{{ form_widget(form.type,{'attr':{'placeholder':'Enter your description' , 'class':"form-control"

          }}) }}
						{{ form_errors(form.type) }}
					</div>
					<div class="form-group">
						<label>description</label>
						{{ form_widget(form.description,{'attr':{'placeholder':'Enter your description' , 'class':"form-control"

          }}) }}
						{{ form_errors(form.description) }}
					</div>


					<button type="submit" class="default-btn">Envoyer</button>


					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
