{% extends 'base_front.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
 <section class="signup-area ptb-100">
        <div class="container">
            <div class="signup-content">
                <h2>Create an Produit</h2>
                
                <div class="signup-form"> 
                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                    <div class="form-group">
                        <label>nom</label>
                        {{ form_widget(form.titre,{'attr':{'placeholder':'Enter your titre' , 'class':"form-control" }}) }}
                        {{form_errors(form.titre)}}
                       
                    </div>
                    <div class="form-group">
                        <label>prix</label>
                        {{ form_widget(form.prix,{'attr':{'placeholder':'Enter your prix' , 'class':"form-control" }}) }}
                        {{form_errors(form.prix)}}
                    </div>
                    <div class="form-group">
                        <label>image</label>
                        {{ form_widget(form.image,{'attr':{'class':"custom-file-input" }}) }}
                          {{form_errors(form.image)}}
                    </div>
                    
                    
                    <button type="submit" class="default-btn"> Save </button>
                    <br/>
                 <button type="submit" name="ajouter_autre_produit" class="default-btn">Ajouter un autre produit</button>

                {{ form_end(form) }}</div>
                
            </div>
        </div>
    </section>
    

   
{% endblock %}

