<!-- New Product Add Start -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-8 m-auto">
          <div class="card">
            <div class="card-body">
             
              {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

              <div class="theme-form theme-form-2 mega-form">
                <div class="mb-4 row align-items-center">
                  <label class="form-label-title col-sm-3 mb-0"
                    >Product Titre</label
                  >
                  <div class="col-sm-9">
                    {{ form_widget(form.titre,{'attr':{'placeholder':'Product Name','class':'form-control'
                    }}) }}
                    {{ form_errors(form.titre)}}
                  </div>
                </div>

                <div class="mb-4 row align-items-center">
                  <label class="col-sm-3 col-form-label form-label-title"
                    >Product Type</label
                  >
                  <div class="col-sm-9">
                    {{ form_widget(form.type,{'attr':{'placeholder':'Product Name','class':'js-example-basic-single w-100'
                    }}) }}
                    {{ form_errors(form.type)}}
                  </div>
                </div>

                <div class="mb-4 row align-items-center">
                  <label class="form-label-title col-sm-3 mb-0"
                    >Product Image</label
                  >
                  <div class="col-sm-9">
                    {{ form_widget(form.image,{'attr':{'placeholder':'Product Name','class':'form-control'
                    }}) }}
                    {{ form_errors(form.image)}}
                  </div>
                </div>

                <div class="mb-4 row align-items-center">
                  <label class="form-label-title col-sm-3 mb-0"
                    >Product Date de début</label
                  >
                  <div class="col-sm-9">
                    {{ form_widget(form.date_debut,{'attr':{'placeholder':'Product Name','class':'form-control'
                    }}) }}
                    {{ form_errors(form.date_debut)}}
                  </div>
                </div>

                <div class="mb-4 row align-items-center">
                  <label class="form-label-title col-sm-3 mb-0"
                    >Product Date fin</label
                  >
                  <div class="col-sm-9">
                    {{ form_widget(form.date_fin,{'attr':{'placeholder':'Product Name','class':'form-control'
                    }}) }}
                    {{ form_errors(form.date_fin)}}
                  </div>
                </div>

                <div class="mb-4 row align-items-center">
                  <label class="form-label-title col-sm-3 mb-0"
                    >Product Prix</label
                  >
                  <div class="col-sm-9">
                    {{ form_widget(form.prix,{'attr':{'placeholder':'Product Name','class':'form-control'
                    }}) }}
                    {{ form_errors(form.prix)}}
                  </div>
                </div>
                <div class="mb-4 row align-items-center">
                  <label class="form-label-title col-sm-3 mb-0"
                    >Product Produit</label
                  >
                  <div class="col-sm-9">
                    {{ form_widget(form.produit,{'attr':{'placeholder':'Product Name','class':'form-control'
                    }}) }}
                    {{ form_errors(form.produit)}}
                  </div>
                </div>

                <button class="btn text-white theme-bg-color">
                  {{ button_label|default('Save') }}
                </button>
              </div>

              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- New Product Add End -->
