{% extends './base_back.html.twig' %} {% block title %}User index{% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="card card-table"></div>
<div class="card-body">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="{{ path('back') }}">Home</a>
            </li>
            <li class="breadcrumb-item active">client table</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ nbUsers }}</h3>

          <p>Nombre utilisateur par 7 jours</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a hidden href="#" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <p>Nombre</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a hidden href="#" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ nbuserbanned }}</h3>

          <p>Nombre utilisateur banner</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a hidden href="#" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>65</h3>

          <p>Unique Visitors</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a hidden href="#" class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- Content Header (Page header) -->
  <br />
  <br />
  <div>
    <div class="table-responsive">
      <div id="table_id_wrapper" class="dataTables_wrapper no-footer">
        <table
          class="table all-package theme-table table-product dataTable no-footer"
          id="table_id"
        >
          <thead>
            <tr>
              <th
                class="sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 170px"
              >
                Image
              </th>
              <th
                class="sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 170px"
              >
                Name
              </th>
              <th
                class="sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 170px"
              >
                Last Name
              </th>
              <th
                class="sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 170px"
              >
                Email
              </th>
              <th
                class="sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 170px"
              >
                is banned
              </th>
              <th
                class="sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 170px"
              >
                Option
              </th>
            </tr>
          </thead>

          <tbody>
            {% for user in users %}
            <tr class="odd">
                {% if user.roles==["ROLE_USER"] %}
              <td>
                <div class="table-image">
                  <img
                    src="{{ asset('/uploads/'~app.user.image) }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </td>
              

              <td>{{ user.nom }}</td>
              <td>{{ user.prenom }}</td>

              <td>{{ user.email }}</td>

              <td>{{ user.isbanned }}</td>

              <td>
                <ul>
                  <li>
                    <a href="{{ path('app_user_show', { id: user.id }) }}">
                      <i class="ri-eye-line"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      type="button"
                      class="btn"
                      style="
                        background-color: red;
                        color: white;
                        padding: 5px 10px;
                        margin-right: 0;
                      "
                      href="{{ path('ban_user', { id: user.id }) }}"
                      >ban/deban</a
                    >
                  </li>
                </ul>
              </td>
              {% endif %}
            </tr>
            {% else %}
            <div>no records found</div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="pagination">
    {% if page > 1 %}
    <a
      type="button"
      class="btn"
      style="
        background-color: #00008b;
        color: white;
        margin-left: 10px;
        padding: 8px;
      "
      href="{{ path('app_user_index', { page: page - 1 }) }}"
      >Previous</a
    >
    {% endif %} {% if users|length >= perPage %}
    <a
      type="button"
      class="btn"
      style="
        background-color: #00008b;
        color: white;
        margin-left: 950px;
        padding: 8px;
      "
      href="{{ path('app_user_index', { page: page + 1 }) }}"
      >Next</a
    >
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
